* {
    background-color: rgb(115, 188, 190);
}

h1 {
    color: rgb(40, 19, 43);
    text-align: center;
}

.main {
    /* border: 2px solid rgb(45, 18, 53); */
    width: 750px;
    height: 200px;
    display: flex;
    justify-content: space-around;
}

.btn {
    border: 14px solid rgb(49, 33, 223);
    width: 300px;
    height: 60px;
}

h3 {
    color: rgb(96, 24, 163);
    text-align: center;
}

a {
    text-decoration: none;
}