* {
    background-color: rgb(176, 221, 92);
}

h1 {
    text-align: center;
    color: rgb(40, 19, 43);
}

.main {
    /* border: 2px solid black; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.btn {
    border: 15px solid rgb(24, 190, 212);
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    text-align: center;
    color: rgb(53, 26, 206);
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(53, 26, 206);
}